nav.anchorific{
	background-color: rgba(247, 247, 247, 1);
	width: 20%;
	margin-left: 5%;
	float: right;
	z-index: 1;
	position: fixed;
	right: 2em;
	top: 2em;
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li{
		margin: 0;
		max-height: 400px;
		overflow: scroll;
		a{
			font-size: 1em;
			display: block;
			padding: .5em 1em;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	li ul{
		margin-left: 1.5em;
		margin-bottom: 1em;
		list-style-type: disc;
		display: none;
		li{
			margin-left: 1em;
			a{
				padding: 0;
			}
		}
	}
	li[data-tag='2']{
		border-top: 1px white solid;
	}
	li[data-tag='3'] ul{
		display: none;
	}
}
#wrapper{
	width: 75%;
}
a.anchor{
	display: none;
}
// .anchorific li.active>a { background-color: #f5f5f5; }
.anchorific li.active>ul { display: block }
.top {
	/* Icon by: https://www.iconfinder.com/icons/211623/arrow_b_up_icon#size=20 */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAsUlEQVQ4T2NkoDJgpLJ5DKMGUh6ixIQhE9CaDqhVFUD6Hz5riTFwFtCAVKghc5DYWM0lZGAxUFcPms5SLGJwJfgMDAaqWgXEIC8jg/9ATgwQL8PmRFwGWgIV7wNiDhzh9QMo7gzEx9DlsRmoClUoQiDO3wLlQRbfRlaHbiAv1DAdAobBpK9CDf0ME0A3UBIoAYpJNiIN/AVUlwLEz3EZSKQ5uJURSjYkWzBqIMlBhqEBAKUTFRWStpKLAAAAAElFTkSuQmCC') no-repeat;
    display: none;
    width: 100px;
    color: #000;
    font-size: .75em;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    right: 5px;
    bottom: 5px;
    padding: 3px 0 0 4px;
    text-align: center;
}
/* Hide Anchorific for Mobile */
@media only screen and (max-width: 1023px) {
	.anchorific{
		display: none;
	}
}